<div class="c-references page_content-wrapper">

  <h2>References</h2>

  <div class="c-references_pnr">
    <span>PNR</span>
    <mat-form-field color="primary" [appearance]="formFieldAppearance">
      <input type="text" matInput autocomplete="off"/>
    </mat-form-field>
  </div>

  <button type="button"
          mat-button
          color="primary"
          class="button-with-icon"
          (click)="add()"
          [disabled]="!addPosible()">
    <mat-icon>add_circle</mat-icon>
    <span>Add reference</span>
  </button>

  <div class="c-references_additional"
       [class.c-references_additional__is-disabled]="mode === modeType.View"
       *ngFor="let item of additionalReferences; trackBy: trackByFn; let i = index;">
    <button type="button"
            mat-icon-button
            *ngIf="mode === modeType.Edit"
            class="c-references_additional-delete-btn"
            (click)="delete(i)">
      <mat-icon>close</mat-icon>
    </button>

    <mat-button-toggle-group
      [value]="item.typePatternID"
      [disabled]="mode === modeType.View"
      class="__primary __size-m">
      <mat-button-toggle [value]="1">Invoice</mat-button-toggle>
      <mat-button-toggle [value]="2">Voucher</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="row">
      <div class="col-6">
        <mat-form-field color="primary"
                        class="__w-100"
                        [appearance]="formFieldAppearance"
                        [class.__is-readonly]="mode === modeType.View">
          <mat-label>Name</mat-label>
          <input type="text" matInput autocomplete="off" [required]="true" [readonly]="mode === modeType.View"/>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field color="primary"
                        class="__w-100"
                        [appearance]="formFieldAppearance"
                        [class.__is-readonly]="mode === modeType.View">
          <mat-label>Value</mat-label>
          <input type="text"
                 matInput
                 autocomplete="off"
                 maxlength="13"
                 [required]="true"
                 [readonly]="mode === modeType.View"/>
          <span matSuffix>{{ '0' }}/{{ '13' }}</span>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
