<div>
  IMPORTANT INFORMATION<br><br>
  The time limit for cancellation is 24 hours before the scheduled departure time for standard bookings.
  Cancellation is free of charge prior to the time limit for cancellation.
  After the time limit for cancellation has passed, the full fare for the booking will be charged in the event of a cancellation.<br>
  One piece of hand luggage is included per passenger. (max = 20 kg each)<br>
  The customer shall contact the driver if (s)he is late.<br><br>
  If the provider is a taxi company, waiting time and non-attendance fees will be charged to the customer in accordance with the applicable taxi fare regulations.
  For example, the base charge plus 15 minutes waiting time will be charged as a flat fee in case of non-attendance.<br><br>
  If the provider is a private hire vehicle company, the waiting-time fees set by the provider shall be charged after the waiting time included in the fare (depending on the place of pick-up and booking class) has passed.
  In the event of non-attendance without prior cancellation, the provider may charge the full fare to the customer.
</div>
