<ng-container *ngIf="inProgress || noProgress">
  <h21-table-loader [showNoResult]="noProgress"></h21-table-loader>
</ng-container>

<ng-container *ngIf="!inProgress && !noProgress">
  <mat-table [dataSource]="dataSource" class="h21-table sb-bookings-table">
    <!-- Selected -->
<!--    <ng-container matColumnDef="selected">-->
<!--      <mat-header-cell *matHeaderCellDef class="sb-bookings-table_cell-30 __pa-0 __justify-content-center __overflow-visible">-->
<!--        <mat-checkbox color="primary" [checked]="isAllSelected()" (change)="selectAll($event.checked)"></mat-checkbox>-->
<!--      </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let el" (click)="$event.stopPropagation()" class="sb-bookings-table_cell-30 __pa-0 __justify-content-center __overflow-visible">-->
<!--        <mat-checkbox color="primary" [checked]="isOrderSelected(el.id)"-->
<!--                      (change)="selectOrder(el.id, $event.checked)">-->
<!--        </mat-checkbox>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

    <!-- Cancellation policy mark -->
    <ng-container matColumnDef="cancellationMark">
      <mat-header-cell *matHeaderCellDef class="sb-bookings-table_cell-30">&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let el" class="sb-bookings-table_cell-30 __pa-0 __justify-content-center">
        <ng-container [ngSwitch]="el.cancellationMarkState">
          <mat-icon *ngSwitchCase="cancellationStateTypes.non" class="__size-s sb-cancellation-mark_non"
                    matTooltip="Non-refundable booking">lens</mat-icon>
          <mat-icon *ngSwitchCase="cancellationStateTypes.free" class="__size-s sb-cancellation-mark_free"
                    matTooltip="Free cancel date is coming">lens</mat-icon>
          <mat-icon *ngSwitchCase="cancellationStateTypes.penalty" class="__size-s sb-cancellation-mark_penalty"
                    matTooltip="Cancellation with penalty">lens</mat-icon>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="typeName">
      <mat-header-cell *matHeaderCellDef class="sb-bookings-table_cell-50 __justify-content-center">Type</mat-header-cell>
      <mat-cell *matCellDef="let el" class="sb-bookings-table_cell-50 __justify-content-center">
        <ng-container [ngSwitch]="el.bookingType">
          <mat-icon *ngSwitchCase="bookingTypes.Air" matTooltip="Aero booking">local_airport</mat-icon>
          <mat-icon *ngSwitchCase="bookingTypes.Hotel" matTooltip="Hotel booking">domain</mat-icon>
          <mat-icon *ngSwitchCase="bookingTypes.Transfer" matTooltip="Transfer booking">directions_car</mat-icon>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Order number -->
    <ng-container matColumnDef="viewOrderNumber">
      <mat-header-cell *matHeaderCellDef>Order number</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.viewOrderNumber }}</mat-cell>
    </ng-container>

    <!-- Invoice number  -->
    <ng-container matColumnDef="invoiceNumber">
      <mat-header-cell *matHeaderCellDef>Invoice number</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.invoiceNumber }}</mat-cell>
    </ng-container>

    <!-- Booking code  -->
    <ng-container matColumnDef="bookingCode">
      <mat-header-cell *matHeaderCellDef>Booking code</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.bookingCode }}</mat-cell>
    </ng-container>

    <!-- Booking confirmation  -->
    <ng-container matColumnDef="providerConfirmation">
      <mat-header-cell *matHeaderCellDef>Provider confirmation</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.providerConfirmation }}</mat-cell>
    </ng-container>

    <!-- Customer name -->
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.customerName }}</mat-cell>
    </ng-container>

    <!-- Customer company -->
    <ng-container matColumnDef="customerCompanyName">
      <mat-header-cell *matHeaderCellDef>Customer company</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.customerCompanyName }}</mat-cell>
    </ng-container>

    <!-- Booker name -->
    <ng-container matColumnDef="bookerId">
      <mat-header-cell *matHeaderCellDef>Booker</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.bookerName }}</mat-cell>
    </ng-container>

    <!-- Booker email -->
    <ng-container matColumnDef="createUserName">
      <mat-header-cell *matHeaderCellDef>Booker email</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.createUserName }}</mat-cell>
    </ng-container>

    <!-- Company -->
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.companyName }}</mat-cell>
    </ng-container>

    <!-- Trip name -->
    <ng-container matColumnDef="tripName">
      <mat-header-cell *matHeaderCellDef>Trip name</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.tripName }}</mat-cell>
    </ng-container>

    <!-- Receiving -->
    <ng-container matColumnDef="orderPlacedDate">
      <mat-header-cell *matHeaderCellDef>Receiving</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.orderPlacedDate | date:'dd MMM yyyy' }}</mat-cell>
    </ng-container>

    <!-- Arrival -->
    <ng-container matColumnDef="arrivalDate">
      <mat-header-cell *matHeaderCellDef>Arrival</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.arrivalDate | date:el.dateFormat }}</mat-cell>
    </ng-container>

    <!-- Departure -->
    <ng-container matColumnDef="departureDate">
      <mat-header-cell *matHeaderCellDef>Departure</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.departureDate | date:'dd MMM yyyy' }}</mat-cell>
    </ng-container>

    <!-- Nights -->
    <ng-container matColumnDef="nights">
      <mat-header-cell *matHeaderCellDef>Nights</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.nights }}</mat-cell>
    </ng-container>

    <!-- Order status -->
    <ng-container matColumnDef="orderStateName">
      <mat-header-cell *matHeaderCellDef>Order status</mat-header-cell>
      <mat-cell *matCellDef="let el">
        <mat-chip-list class="h21-chip-list">
          <mat-chip class="h21-chip"
                    [h21OrderState]="el.orderStateName"
                    [selectable]="false"
                    [disableRipple]="true">
            {{ el.orderStateName }}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <!-- Payment status -->
    <ng-container matColumnDef="paymentStateName">
      <mat-header-cell *matHeaderCellDef>Payment status</mat-header-cell>
      <mat-cell *matCellDef="let el">
        <mat-chip-list class="h21-chip-list">
          <mat-chip class="h21-chip"
                    [h21OrderState]="el.paymentStateName"
                    [selectable]="false"
                    [disableRipple]="true">
            {{ el.paymentStateName }}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <!-- Order total rate -->
    <ng-container matColumnDef="finalCost">
      <mat-header-cell *matHeaderCellDef class="sb-bookings-table_cell-160">Order total rate</mat-header-cell>
      <mat-cell *matCellDef="let el" class="sb-bookings-table_cell-160 __justify-content-between">
        {{ el.finalCost | number: '1.2-2' }} {{ el.currency }}
<!--        <button (click)="onRedirectToPayVision($event, el)"-->
<!--                *ngIf="el.orderStateId === orderState.New"-->
<!--                type="button"-->
<!--                mat-flat-button color="primary"-->
<!--                class="__ml-1 __ph-2 __no-min-width">-->
<!--          Pay-->
<!--        </button>-->
      </mat-cell>
    </ng-container>

    <!-- Supplier -->
    <ng-container matColumnDef="providerCode">
      <mat-header-cell *matHeaderCellDef>Supplier</mat-header-cell>
      <mat-cell *matCellDef="let el">
      <span [matTooltip]="el.providerName">
        {{ el.providerTypeCode }}
      </span>
      </mat-cell>
    </ng-container>

    <!-- Internal tour number name -->
    <ng-container matColumnDef="tourOperatorCode">
      <mat-header-cell *matHeaderCellDef>Internal tour number</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.tourOperatorCode }}</mat-cell>
    </ng-container>

    <!-- Internal tour operator name -->
    <ng-container matColumnDef="tourOperatorName">
      <mat-header-cell *matHeaderCellDef>Internal tour operator</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.tourOperatorName }}</mat-cell>
    </ng-container>

    <!-- Payment form-->
    <ng-container matColumnDef="paymentForm">
      <mat-header-cell *matHeaderCellDef>Payment form</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.paymentForm }}</mat-cell>
    </ng-container>

    <!-- Pay account number -->
    <ng-container matColumnDef="payAccountNumber">
      <mat-header-cell *matHeaderCellDef>Account number</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.payAccountNumber }}</mat-cell>
    </ng-container>

    <!-- Horse21pro ID -->
    <ng-container matColumnDef="H21ProLogin">
      <mat-header-cell *matHeaderCellDef>Horse21pro ID</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.h21ProLogin }}</mat-cell>
    </ng-container>

    <!-- PNR -->
    <ng-container matColumnDef="pnr">
      <mat-header-cell *matHeaderCellDef>PNR</mat-header-cell>
      <mat-cell *matCellDef="let el">{{ el.pnr }}</mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="sb-bookings-table_cell-100">&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let el" (click)="$event.stopPropagation()" class="sb-bookings-table_cell-100 __pa-0 __justify-content-end sb-bookings-table_actions">
<!--        <button type="button"-->
<!--                mat-icon-button-->
<!--                *ngIf="el.bookingType === bookingTypes.Hotel"-->
<!--                [matMenuTriggerFor]="benchmarkingMenu"-->
<!--                [matMenuTriggerData]="{ orderRate: el.orderRate, booking: el.bookingCost, bar: el.barCost }">-->
<!--          <mat-icon>bar_chart</mat-icon>-->
<!--        </button>-->
        <button type="button"
                mat-icon-button
                [matMenuTriggerFor]="contextMenu"
                [matMenuTriggerData]="{ booking: el }">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns" (click)="onOpenBookingDetails(row)"></mat-row>
  </mat-table>

  <!-- Paginator -->
  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [pageSize]="pageSize"
    [length]="totalCount"
    (page)="pageChange($event)"
    [showFirstLastButtons]="true"
    class="h21-paginator">
  </mat-paginator>
</ng-container>

<!-- Context menu -->
<!--<mat-menu #orderStatesMenu="matMenu" class="c-orders-list_context-menu-panel">-->
<!--  <ng-template matMenuContent let-order="order">-->
<!--    <ng-container *ngFor="let item of orderStates; trackBy: trackByFn">-->
<!--      <button mat-menu-item-->
<!--              *ngIf="order.stateId !== item.id"-->
<!--              (click)="changeOrderState(order.id, item.id)">-->
<!--        <b>{{ item.name }}</b> ({{ item.description }})-->
<!--      </button>-->
<!--    </ng-container>-->
<!--  </ng-template>-->
<!--</mat-menu>-->

<mat-menu #contextMenu="matMenu"
          xPosition="before"
          yPosition="below">
  <ng-template matMenuContent let-booking="booking">
    <button *ngIf="booking.voucherReportId" mat-menu-item (click)="onDownloadDocument(bookingDocumentType.Voucher, booking)">
      <mat-icon>insert_drive_file</mat-icon>
      <span>Voucher</span>
    </button>
    <button *ngIf="booking.billDetailsReportId" mat-menu-item (click)="onDownloadDocument(bookingDocumentType.BillingDetails, booking)">
      <mat-icon>payment</mat-icon>
      <span>Billing details</span>
    </button>
    <button mat-menu-item (click)="onModify(booking)" [disabled]="!booking.corporateId" *ngIf="booking.bookingType === bookingTypes.Hotel">
      <mat-icon>note_add</mat-icon>
      <span>Modify</span>
    </button>
    <button mat-menu-item (click)="onCancel(booking)" [disabled]="!isCancelAvailable(booking)">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #benchmarkingMenu="matMenu"
          class="sb-bookings_benchmarking-menu-panel"
          xPosition="before"
          yPosition="below">
  <ng-template matMenuContent
               let-orderRate="orderRate"
               let-booking="booking"
               let-bar="bar">
    <div (click)="$event.stopPropagation()">
      <div class="sb-bookings_benchmarking-caption">
        Benchmarking
      </div>
      <div class="sb-bookings_benchmarking-wrapper" (click)="$event.stopPropagation();">
        <div class="sb-bookings_benchmarking-item">
          <div class="__color-gray __fs-xxs">Order rate</div>
          <div class="__color-accent __fs-xs __fw-medium">{{ orderRate }} EUR</div>
        </div>
        <div class="sb-bookings_benchmarking-item">
          <div class="__color-gray __fs-xxs">Booking.com</div>
          <div class="__color-accent __fs-xs __fw-medium">{{ booking }} EUR</div>
        </div>
        <div class="sb-bookings_benchmarking-item">
          <div class="__color-gray __fs-xxs">BAR</div>
          <div class="__color-accent __fs-xs __fw-medium">{{ bar }} EUR</div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>
